@page "/pontag"
@using TestClientServer.Shared.Models
@inject HttpClient Http
@inject NavigationManager NavigationManager

<PageTitle>PonLightUp</PageTitle>

<EditForm Model="@_currentEntry" OnValidSubmit="ShowConfirmationModal">
    <DataAnnotationsValidator/>
    <ValidationSummary/>
    
    <div class="form-group">
        <label for="town">Town:</label>
        <InputSelect id="town" @bind-Value="_currentEntry.Town" class="form-control">
            @foreach (var option in _townOptions)
            {
            <option value="@option">@option</option>
            }
        </InputSelect>
    </div>
    
    <div class="form-group">
        <label for="fsa">FSA:</label>
        <InputText id="fsa" @bind-Value="_currentEntry.Fsa" class="form-control" />
    </div>
    
    <div class="form-group">
        <label for="olt">OLT:</label>
        <InputSelect id="olt" @bind-Value="_currentEntry.Olt" class="form-control">
            @foreach (var option in _oltOptions)
            {
                <option value="@option">@option</option>
            }
        </InputSelect>
    </div>
    
    <div class="form-group">
        <label for="lt">LT:</label>
        <InputSelect id="lt" @bind-Value="_currentEntry.Lt" class="form-control">
            @foreach (var option in _ltOptions)
            {
                <option value="@option">@option</option>
            }
        </InputSelect>
    </div>
    
    <div class="form-group">
        <label for="pon">PON:</label>
        <InputSelect id="pon" @bind-Value="_currentEntry.Pon" class="form-control">
            @foreach (var option in _ponOptions)
            {
            <option value="@option">@option</option>
            }
        </InputSelect>
    </div>

    <div class="form-group">
        <label for="splitter">Splitter:</label>
        <InputSelect id="splitter" @bind-Value="_currentEntry.Splitter" class="form-control">
            @foreach (var option in _splitterOptions)
            {
            <option value="@option">@option</option>
            }
        </InputSelect>
    </div>
    
    <div class ="mt-3">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</EditForm>

@if (_showConfirmationModal)
{
<div class="modal" tabindex="-1" style="display:block; background-color: rgba(0,0,0,0.5);">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Confirm Submission</h5>
                <button type="button" class="close" @onclick="() => _showConfirmationModal = false">
                    <span>&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>OLT: @_currentEntry.Olt</p>
                <p>LT: @_currentEntry.Lt</p>
                <p>PON: @_currentEntry.Pon</p>
                <p>FSA: @_currentEntry.Fsa</p>
                <p>Splitter: @_currentEntry.Splitter</p>
                <p>Town: @_currentEntry.Town</p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" @onclick="() => _showConfirmationModal = false">Cancel</button>
                <button class="btn btn-primary" @onclick="ConfirmAndSubmit">Confirm and Submit</button>
            </div>
        </div>
    </div>
</div>
}


@code {
    private readonly FormData _currentEntry = new();
    
    private readonly List<int> _oltOptions = [01, 02, 03, 04, 05, 06, 07, 08, 09, 10];
    private readonly List<int> _ltOptions = [01, 02, 03, 04, 05, 06, 07, 08, 09, 10, 11, 12, 13, 14, 15, 16];
    private readonly List<int> _ponOptions = [01, 02, 03, 04, 05, 06, 07, 08, 09, 10, 11, 12, 13, 14, 15, 16];
    private readonly List<string> _splitterOptions = [" ", "1A", "2A", "3A", "4A", "5A", "6A", "7A", "8A",
                                                        "9A", "10A", "11A", "12A", "13A", "14A", "15A", "16A",
                                                        "1B", "2B", "3B", "4B", "5B", "6B", "7B", "8B",
                                                        "9B", "10B", "11B", "12B", "13B", "14B", "15B", "16B"];

    private readonly List<string> _townOptions = [" ", "Westfield"];
    private bool _showConfirmationModal = false;

    private void   ShowConfirmationModal()
    {
        _showConfirmationModal = true;
    }
    
    private async Task ConfirmAndSubmit()
    {
        _showConfirmationModal = false;
        var splitterCard = _currentEntry.Fsa + "." + _currentEntry.Splitter;
        var url = $"formdata?olt={_currentEntry.Olt}&lt={_currentEntry.Lt}&pon={_currentEntry.Pon}&town={_currentEntry.Town}&fdh={_currentEntry.Fsa}&splitter={splitterCard}";
        var response = await Http.PostAsync(url, null); 
        if (response.IsSuccessStatusCode)
        {
            NavigationManager.NavigateTo("/confirmation");
        }
        else
        {
            NavigationManager.NavigateTo("/error");
        }
    }
}